<!DOCTYPE html>
<html lang="en" class="h-full">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.Title}} - GARM</title>
    
    <!-- Tailwind CSS -->
    <link rel="stylesheet" href="/static/css/tailwind.min.css">
    
    <!-- HTMX -->
    <script src="/static/js/htmx.js"></script>
    
    <!-- Alpine.js -->
    <script defer src="/static/js/alpine.min.js"></script>
    
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/static/css/app.css">
</head>
<body class="bg-gray-50 dark:bg-gray-900 min-h-screen h-full">
    {{template "init-content" .}}
    
    <!-- JavaScript -->
    <script src="/static/js/app.js"></script>
</body>
</html>